<div class="row justify-content-center">



    <!-- Stretta di mano -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-handshake"  />
            <i class="fa-solid fa-handshake"></i>
        </label>
    </div>

    <!-- Telefono -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-phone" />
            <i class="fa-solid fa-phone"></i>
        </label>
    </div>

    <!-- Email -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-envelope" />
            <i class="fa-solid fa-envelope"></i>
        </label>
    </div>

    <!-- Carta di credito -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-regular fa-credit-card" />
            <i class="fa-regular fa-credit-card"></i>
        </label>
    </div>

    <!-- Soldi -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-money-bill" />
            <i class="fa-solid fa-money-bill"></i>
        </label>
    </div>

    <!-- Matita -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-pencil" />
            <i class="fa-solid fa-pencil"></i>
        </label>
    </div>

    <!-- Libro -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-book" />
            <i class="fa-solid fa-book"></i>
        </label>
    </div>

    <!-- Righello -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-ruler-vertical" />
            <i class="fa-solid fa-ruler-vertical"></i>
        </label>
    </div>


    <!-- Fotocamera -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-camera" />
            <i class="fa-solid fa-camera"></i>
        </label>
    </div>

    <!-- Videocamera -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-video" />
            <i class="fa-solid fa-video"></i>
        </label>
    </div>

    <!-- Presa -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-plug" />
            <i class="fa-solid fa-plug"></i>
        </label>
    </div>

    <!-- Scossa -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-bolt" />
            <i class="fa-solid fa-bolt"></i>
        </label>
    </div>

    <!-- Computer -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-computer" />
            <i class="fa-solid fa-computer"></i>
        </label>
    </div>

    <!-- Telefono -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-mobile-screen" />
            <i class="fa-solid fa-mobile-screen"></i>
        </label>
    </div>

    <!-- Codice -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-code" />
            <i class="fa-solid fa-code"></i>
        </label>
    </div>

    <!-- Giochi -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-gamepad" />
            <i class="fa-solid fa-gamepad"></i>
        </label>
    </div>

    <!-- Chiave inglese -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-screwdriver-wrench" />
            <i class="fa-solid fa-screwdriver-wrench"></i>
        </label>
    </div>

    <!-- Ingranaggio -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-gear" />
            <i class="fa-solid fa-gear"></i>
        </label>
    </div>

    <!-- Macchina -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-car" />
            <i class="fa-solid fa-car"></i>
        </label>
    </div>


    <!-- Posate -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-utensils" />
            <i class="fa-solid fa-utensils"></i>
        </label>
    </div>

    <!-- Tazza -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-mug-saucer" />
            <i class="fa-solid fa-mug-saucer"></i>
        </label>
    </div>

    <!-- Forbici -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-scissors" />
            <i class="fa-solid fa-scissors"></i>
        </label>
    </div>

    <!-- Doccia -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-shower" />
            <i class="fa-solid fa-shower"></i>
        </label>
    </div>

    <!-- Barcode -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-barcode" />
            <i class="fa-solid fa-barcode"></i>
        </label>
    </div>

    <!-- Cuffie -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-headphones" />
            <i class="fa-solid fa-headphones"></i>
        </label>
    </div>

    <!-- Volume -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-volume-high" />
            <i class="fa-solid fa-volume-high"></i>
        </label>
    </div>

    <!-- Borsa medica -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-suitcase-medical" />
            <i class="fa-solid fa-suitcase-medical"></i>
        </label>
    </div>

    <!-- Medicina -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-prescription-bottle" />
            <i class="fa-solid fa-prescription-bottle"></i>
        </label>
    </div>


    <!-- Dente -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-tooth" />
            <i class="fa-solid fa-tooth"></i>
        </label>
    </div>


    <!-- Ferito -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-user-injured" />
            <i class="fa-solid fa-user-injured"></i>
        </label>
    </div>



    <!-- Notizie -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-newspaper" />
            <i class="fa-solid fa-newspaper"></i>
        </label>
    </div>

    <!-- Calendario -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-calendar-week" />
            <i class="fa-solid fa-calendar-week"></i>
        </label>
    </div>

    <!-- Peso -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-dumbbell" />
            <i class="fa-solid fa-dumbbell"></i>
        </label>
    </div>

    <!-- Rana -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-solid fa-frog" />
            <i class="fa-solid fa-frog"></i>
        </label>
    </div>

    <!-- JUAN -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-brands fa-sticker-mule" />
            <i class="fa-brands fa-sticker-mule"></i>
        </label>
    </div>

    <!-- Facebook -->
    <div class="col-3 col-md-1">
        <label class="labl">
            <input type="radio" name="Icona" value="fa-brands fa-facebook" />
            <i class="fa-brands fa-facebook"></i>
        </label>
    </div>

</div>


